<!--Sección de imagen y texto presentativos -->
<header class="bg-dark py-5 imagen-fondo">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Cubos Rubik</h1>
                    <p class="lead mb-4">En Cubesky tenemos los mejores cubos rubik del mercado, garantizando la
                        satisfacción a nuestros clientes</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Sección de lo que ofrecemos -->
<section class="py-5 border-bottom bg-white" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Los mejores precios</h2>
                <p>En Cubesky encontrarás los mejores precios y descuentos en Cubos Rubik, gracias a nuestras técnicas y
                    estrategias de importación de productos.</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Envíos a todo el país</h2>
                <p>Nuestros productos son enviados con las mejores paqueterías del país, permitiendo la entrega en
                    cualquier lugar de la República Mexicana.</p>
            </div>
            <div class="col-lg-4">
                <h2 class="h4 fw-bolder">Revisión de calidad</h2>
                <p>Tenemos una gran inspección de calidad en cada uno de nuestros Cubos Rubik, ya que deseamos la máxima
                    aprobación de los clientes.</p>
            </div>
        </div>
    </div>
</section>
<!-- Sección de testimonios -->
<section class="bg-light py-5 border-bottom">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">Testimonios de nuestros clientes</h2>
            <p class="lead mb-0">Los clientes siempre estarán satisfechos con nosotros</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonio 1 -->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-dark fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">Estoy sorprendida con la calidad de los Cubo Rubik que he comprado aquí,
                                    espero seguir llenando mi colección con los productos de Cubesky!</p>
                                <div class="small text-muted">- Jessica, Ciudad de México</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Testimonio 2 -->
                <div class="card">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-dark fs-1"></i></div>
                            <div class="ms-4">
                                <p class="mb-1">Los Cubos Rubik de Cubesky son geniales para competir en Speedcube, he
                                    logrado superar mis record de tiempo gracias a estos cubos!</p>
                                <div class="small text-muted">- Hiram, Guadalajara</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>